<h1><%= @user.name %></h1>
<h2>いいねした投稿</h2>
<% if @like_posts.any? %>
  <% @like_posts.each do |micropost| %>
  <div class ="review">
    <%= render 'microposts/content', micropost: micropost %>
  </div>
  <% end %>
<% else %>
  <h2>いいねした投稿はありません。</h2>
<% end %>

<h2><%= paginate @like_posts %></h2>