<h1><%= @user.name %></h1>
<h2>Favorites</h2>
<% @like_posts.each do |micropost| %>
<div class ="review">
  <%= render 'microposts/content', micropost: micropost %>
</div>
<% end %>
<h2><%= paginate @like_posts %></h2>