<% if current_user.favorited?(micropost.id) %>
  <p><%= link_to 'â¤ï¸', create_favorite_path(micropost), method: :delete, class: "link", remote: true %> <%= micropost.favorites.count %></p>
<% else %>
  <p><%= link_to 'ðŸ¤', destroy_favorite_path(micropost), method: :post, class: "link", remote: true %> <%= micropost.favorites.count %></p>
<% end %>