<h1>概要</h1>
<h2>Campus Anywhereは受験生向けの大学情報共有サイトです。<br>キャンパスの情報を投稿したり、気になるユーザーをフォローすることで、<br>入学前から繋がりを作ることができます。</h2>
<h2>ソースコード: <a class= "link" href="https://github.com/uemura238/portfolio" target="_blank">https://github.com/uemura238/portfolio</a>
</h2>
